.our-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-heading > h4 {
    font-size: var(--h4-font);
    font-weight: 500;
    border-bottom: var(--border-botton-heading);
}
.our-heading > h1 {
    font-size: var(--big-font);
    font-weight: 500;
}
.box-container{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 9px;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.12);
}
.box-img img {
    width: 100% !important;
    object-fit: contain;
    height: auto;
    mix-blend-mode: luminosity;
    transform: scale(1);
    transition: all 500ms ease;
}
.box-content{
    padding: 30px;
    text-align: center;
}
.box-content h4 {
    font-size: 15px;
    color: #b7b7b7f3;
    /* word-spacing: px; */
    margin: 0px;
}
.box-content h2 {
    font-size: 25px;
    margin: 0px;
    font-weight: 500;
}
.team-box{
    margin-top: 40px;
}


.box-container {
    position: relative;
    width: 100%;

    /* border: 1px solid #ccc; */
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.box-img img {
    width: 100%;
    height: auto;
}

.box-content {
    position: relative;
    height: 120px; /* Ensure consistent height */
    overflow: hidden;
    width: 100% !important;
}

.default-content, .hover-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.default-content {
    background-color: #fff; /* Optional: ensure it covers the hover content */
}

.hover-content {
    background-color: #fff; /* Optional: ensure it covers the default content */
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hover-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box-container:hover .default-content {
    transform: translateY(100%);
    animation: slideUp 0.3s forwards;
}

.box-container:hover .hover-content {
    transform: translateY(0);
    animation: slideDown 0.3s forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}